html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    margin-top: 100px;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: #ffffff;
}

/* ------ Header ------- */
.header {
    background: #f8f6f7 url("./images/header-bg.png");
    overflow: hidden;
}

.header__container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 130px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.mobile-menu {
    display: none;
} 

.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link {
    font-size: 14px;
    font-weight: 500;
    transition: 0.15s color;
}

.navigation__link:hover {
    color: #00bf78;
}

.header-phone {
    text-align: right;
}

.header__phone {
    display: flex;
    flex-direction: column;
}

.header-phone__number,
.navigation__link {
    color: #333;
}

.header-phone__number {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.header-phone__schedule {
    font-size: 11px;
}

.hero {
    max-width: 540px;
    z-index: 2;
}

.header__hero {
    position: relative;
}

.social {
    list-style: none;
    padding: 0;
}

.header__social {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;  
}

.social__item:hover {
    transform: scale(1.1);
}

.social__item_vertical:not(:last-child) {
    margin-bottom: 18px;
}

.header__girl {
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #fb9475;
    position: absolute;
    right: 96px;
    bottom: -110px;
}

.header__girl::after {
    content: "";
    background-image: url(./images/girl.png);
    width: 524px;
    height: 510px;
    position: absolute;
    bottom: 110px;
    right: 0;
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.title_semi-bold {
    font-weight: 600;
}

.hero__title {
    margin-bottom: 17px;
}

.hero__subtitle {
    margin: 0 0 59px;
    font-size: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    background-color: #fb9475;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}
.btn:hover {
    background-color: #e27554;
    transition: 0.15s;
}

.btn_large {
    padding: 17px 30px;
    font-size: 14px;
}

/* ------ Main ------- */

/* --- About ---- */

.about__box {
    display: flex;
}

.about__title {
    margin-bottom: 32px;
}

.about__subtitle {
    max-width: 569px;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 16px;
}

.about__text {
    max-width: 538px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 16px;
}

.about__content {
    margin-right: 95px;
}

.videobox {
    padding: 0 0;
    width: 445px;
    height: 297px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    outline: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__videobox {
    position: relative;
}

.videobox__overlay {
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.videobox:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url("./images/icon_play.svg") no-repeat center;
    z-index: 3;
    transition: 0.15s;
}

.videobox:after {
    content: "Короткое видео о нас";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    position: absolute;
    top: 168px;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 3;
    color: #fff;
}

.videobox:hover::before {
    transform: scale(1.1) translateX(-50%);
}

.videobox__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about__btn {
    padding: 0 0;
    color: #278aff;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* ---Privilege ---- */
.privilege__column {
    max-width: 350px;
}

.privilege__column:not(:last-child) {
    margin-right: 30px;
}

.privilege__title,
.privilege__text {
    text-align: center;
}

.privilege__logo {
    margin: 0 auto;
    width: 48px;
    height: 48px;
}

.privilege__title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 28px;
}

.privilege__text {
    font-size: 14px;
    line-height: 22px;
    padding: 12px 27px;
}

/* ---Popular ---- */
.title_little {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.popular__box {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 30px;
}

.popular__column {
    max-width: 350px;
}

.card__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
}

.card__title {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 8px;
}

.card__photo {
    max-width: 350px;
    max-height: 180px;
    border-radius: 8px;
    overflow: hidden;
}

.card__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ---Price ---- */
.price-box {
    max-width: 1015px;
}

.price__box,
.price-box__item {
    display: flex;
    justify-content: space-between;
}
.price__box {
    gap: 0 125px;
}

.price-box__column {
    flex: 1 1 calc(100% / 2);
}

.price-box__item:not(:last-child),
.price__title {
    margin-bottom: 32px;
}

.price-box__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.price-box__text {
    font-size: 14px;
}

.price-box__price {
    font-size: 20px;
    font-weight: 600;
    color: #00bf78;
}

.price__navigation {
    margin-bottom: 47px;
}

.navigation_active:active {
    color: #00bf78;
    text-decoration: underline;
    text-underline-position: under;
}

/* ---Masters ---- */
.masters__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.masters_gray {
    background-color: #e5e5e5;
}

.masters__title {
    margin-bottom: 32px;
}

.masters__subtitle {
    margin-bottom: 24px;
}

.masters__box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}
.master {
    max-width: 255px;
}

.master__photo {
    width: 255px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.master__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.master__photo:hover::after {
    content: "Записаться к мастеру";
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 133px 0 133px;
    right: 50%;
    transform: translateX(50%);
    z-index: 3;
}
.master__photo:hover::before {
    content: "";
    position: absolute;
    border-radius: 8px;
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.master__name {
    font-size: 18px;
    font-weight: 600;
}

.master__experience {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.master__profession {
    font-size: 14px;
}

.master__name,
.master__experience {
    margin-top: 20px;
}

.master__profession {
    margin-top: 8px;
}
/* --- Portfolio ---- */

.portfolio__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__buttons {
    display: flex;
}

.portfolio__btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.portfolio__btn:hover {
    background-color: #f8f6f7;
}

.portfolio__btn::after {
    content: "";
    width: 17px;
    height: 14px;
    background-image: url(./images/paginator.svg);
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.portfolio__btn_back {
    transform: rotate(180deg);
    margin-right: 16px;
}

.portfolio__box {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 29px;
}

.portfolio__item {
    position: relative;
    width: 338px;
    height: 338px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.15s;
    cursor: pointer;
}

.portfolio__item:hover {
    transform: scale(1.1);
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

.portfolio__overlay:hover {
    background: #000;
    opacity: 0.5;
}

.portfolio__item:hover::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(./images/icon-search.svg) no-repeat;
    background-size: contain;
    right: 50%;
    transform: translateX(50%);
    top: 149px;
    z-index: 3;
}

.portfolio__item:hover::after {
    content: "Увеличить";
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    top: 205px;
    right: 50%;
    transform: translateX(50%);
}

/* --- Brands ---- */
.brands__description {
    text-align: center;
    line-height: 19px;
    margin-bottom: 40px;
}

.brands__box {
    display: flex;
    justify-content: center;
}
.brands__logo {
    width: 160px;
    height: 65px;
    object-fit: contain;
    opacity: 0.3;
}

.brands__logo:not(:last-child) {
    margin-right: 30px;
}

/* --- Contacts ---- */
.contact-gray {
    background-color: #e5e5e5;
}

.contact__box {
    max-width: 1015px;
    padding: 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    max-width: 445px;
    background-color: #fff;
    border-radius: 8px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));
}

.contact-form__box {
    padding: 40px 40px;
}

.contact-form__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 35px;
}

.contact-form__input {
    width: 100%;
    font-size: 14px;
    padding: 15px 0 15px 16px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    outline: none;
    margin-bottom: 20px;
}

.btn_long {
    width: 100%;
    font-size: 14px;
    padding: 17px 0 17px;
    margin-bottom: 16px;
}

.contact-form__approval {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

.contact__title {
    margin-top: 38px;
    margin-bottom: 32px;
}

.contact__link {
    display: block;
    margin-top: 20px;
}
.contact__link:nth-child(2) {
    color: #333;
}

.contact__social {
    display: flex;
    gap: 0 24px;
    position: relative;
    margin-top: 58px;
}

.contact__social:before {
    content: "Мы в социальных сетях";
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    top: -26px;
}

/* ------ Footer ------- */
.footer__container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: 14px;
    color: #278aff;
    text-decoration: underline;
    text-underline-position: under;
}

.link_large {
    font-size: 16px;
}

.footer__copyright {
    font-size: 12px;
    margin-bottom: 8px;
}

.navigation_little {
    font-weight: 400;
}
